

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('/Centro Veterinario/img/fondo.jpg');
    color: #fff;
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 1rem;
    border-radius: 20px;
}

.encabezado {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    clear: left;
    text-align: left;
    color: #333;
}

h2 {
    font-size: 2em;
    clear: left;
    text-align: left;
    color: #333;
}

.perro {
    width: 20%;
}

.gato {
    width: 20%;
    float: right;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}





nav {
    background-color: rgb(19, 58, 50);
    padding: 20px 10px;
    text-align: center;

}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 27px;
    color: #333;
    display: inline-block;
    border-right: 3px solid #ccc; /* Agrega una línea sólida a la derecha de cada enlace */
    padding-right: 10px; /* Añade espacio entre las palabras y las líneas */
    margin-right: 10px; /* Añade espacio entre los enlaces */
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    color: #000;
    text-align: center;
}
main {
    padding: 20px;
}
hr{
    width: 20px;
    transform: rotate(90deg);
  }






.card-1 {
    width: 40%;
    margin-right: 10px;
    background-color: rgb(237, 237, 175);
    border-radius: 20px;
    margin: auto;
    padding: 1rem;
    
  }
  
  .card-2 {
    width: 40%;
    margin-right: 10px;
    background-color: rgb(237, 237, 175);
    border-radius: 20px;
    margin: auto;
    padding: 1rem;
  }

  .card h2 {
    color: black;
  }
  
  .card p {
    font-size: small;
    clear: left;
  }
  
 
  


  .formulario-cita {
    background-color: rgba(40, 91, 81, 0.9);
    border: 1px solid #ccc; /* Agregar un borde al formulario */
    padding: 20px; /* Agregar relleno al formulario */
    float: right; /* Alinear el formulario a la derecha */
    width: 40%; 
    border-radius: 20px;
    display: inline-block;
}

.formulario-cita h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.formulario-cita label {
    display: block;
    margin-bottom: 5px;
}

.formulario-cita input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.formulario-cita button {
    background-color: #7a6f6f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center; /* Centra el botón */
    display: block; /* Para que el botón ocupe todo el ancho */
    margin: 0 auto; /* Centra el botón horizontalmente */
    
}


footer {
    background-color: rgb(19, 58, 50);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    align-content: center;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}

